@charset "UTF-8";

.post,
.post-aside,
.post-nav {
  padding: 0 5%;
}

.post {
  color: #444;

  // &__catch {
  //   border: 1px solid #eee;
  //   display: block;
  //   margin-bottom: 10px;
  //   width: 100%;
  // }

  &__title {
    font-size: 1.6em;
  }

  &__date {
    color: #c2c6cc;
    text-align: right;
  }
}

.post-content {
  margin-bottom: 3em;

  img {
    border: 1px solid #eee;
    display: block;
    margin: 2em auto 3em;
    max-width: 100%;
  }

  p {
    line-height: 2;
    margin-bottom: 1.5em;
    // word-wrap: break-word;
  }

  h2,
  h3,
  h4 {
    margin-top: 3em;
  }

  h2 {
    border-left: 5px solid $color-key;
    padding-left: .5em;
  }

  li {
    line-height: 1.6;
  }

  li + li {
    margin-top: .5em;
  }

  > p code,
  li code {
    background-color: #282c34;
    border-radius: 3px;
    color: #abb2bf;
    font-family: monospace, 'Courier New', Courier, Monaco;
    font-size: 90%;
    margin: 0 .5em;
    padding: 2px 4px;
    // vertical-align: middle;
  }

  blockquote {
    background-color: #ccc;
    font-style: italic;
    margin: 30px 0;
    padding: 30px;

    a {
      font-size: .8em;
    }
  }
}

.post-hr {
  border-top: 1px solid #eee;
  margin: 25px auto;
}

.post-ad {
  margin: 10% auto 0;
  text-align: center;

  &__head {
    display: block;
    font-size: .8em;
  }

  &__body {
    display: inline-block;
  }
}

.post-nav {
  ol {
    padding: 0;
  }

  a {
    font-family: $font-family-base;
    font-size: 1em;
    text-decoration: none;
  }
}

.post-nav-label {
  display: block;
  font-weight: bold;
}

.post-nav-title {
  text-decoration: underline;
}

.post-nav-prev {
  padding-right: 2.5%;
}

.post-nav-next {
  padding-left: 2.5%;
  text-align: right;
}

.post-nav-back {
  text-align: center;
}
