@charset "UTF-8";

//===================================
// color
//===================================
// $color-key: #4052a4;
$color-key: hsl(14, 100%, 53%);
$color-link: hsl(217, 71%, 53%);

//===================================
// font
//===================================
$font-family-base: "Sawarabi Gothic", Meiryo, 'メイリオ', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "YuGothic", "游ゴシック", Helvetica, Arial, sans-serif;
$font-family-en: "Avenir Next", Helvetica, Arial, sans-serif;
